@media(min-width: 768px)
{
	.grid-1{

	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 1em;
	grid-auto-rows: 50px;}


	.grid-2{

	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 1em;
	grid-auto-rows: 200px;
	}

	.grid-3{

	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(200px,auto);}


	.grid-4{

	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 1em;
	grid-auto-rows: 200px;}
}


body{

	background-color: #eee;
	margin: 0;
}
img{
	max-width: 100%
}

.grid-3 svg.svg-inline--fa{
   color: rgba(30,79,42,1);
}

.main-heading svg.svg-inline--fa{
   color: white;
}


.main-heading{

	width: 100%;
	text-align: left;
	font-weight: 30px;
	font-size: 3rem;
	background-color: rgba(30,79,42,0.5);
	color: white;
	margin:0;
	padding: 5px 40px;
}
.container{
	width: 80%;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}



.grid-1 > div{

	box-sizing: border-box;
	box-shadow: 0 1px 5px rgba(104,104,104,0.8);
	padding: 1em;
	background-color: #ddd;
	text-align: center;
	text-transform: uppercase;


}

.grid-1 > div a{
	text-decoration: none;
	color:black;
}


.grid-2 > div{

	box-sizing: border-box;
	background-color: #ddd;
	box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}
.grid-2 > div p{
	font-size: 2rem;
	font-weight: 15px;
}

.box1{
	grid-row: 1/3;
	grid-column: 1/3;
	background: url('img/land2.jpg');
	background-position: center;
	background-size: cover;

}


.grid-3 > div{

	box-sizing: border-box;
	background-color: #ddd;
	padding: 25px;
	box-shadow: 0 1px 5px rgba(104,104,104,0.8);


}


.flex{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 0 1px 5px rgba(104,104,104,0.8);
	background-color: #ddd;


}
.fbox1{
	flex: 2;
}
.fbox2{
	padding: 20px;
	flex: 1;
}

footer{
	text-align: center;
	padding: 30px;
	background-color: rgba(30,79,42,0.5);
	color:white;
	margin: 0;
	margin-top: 20px;
}

.btn{
	background-color: #333;
	color: white;
	border-radius: 0;
	padding: 15px;
	text-decoration: none;
}
.grid-1 a > div :hover{
	background-color: green;
}
.grid-2 a:hover{
	background-color: #1ebba3;
}


